<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

	<servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<display-name>LogIn</display-name>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>com.fusion.servlets.LogIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>com.fusion.servlets.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
</web-app>