*{
	margin: 0;
	padding: 0;
	font-family: Futura, �Trebuchet MS�, Arial, sans-serif;
}/* Allows us to define our specific spacing between elements */

html, body {
	height: 100%;
	margin: 0;
	background-color: #fdfdff;
}

p {
	line-height: 1.2;
	margin: 5px 2px 5px 2px; /* top right bottom left */
	text-indent: 50px;
}

h3 {
	padding: 7px;
	margin-bottom: 5px;
	margin-left: 10px;
}

hr {
	margin: 8px;
}

/* Header */

div#header {
	width:100%; 
	overflow: hidden;
	background-color: #8ecfe8;
}

div#header img {
	width: 338px;
	height: 82px;
	float: left;
	margin: 5px;
}

h1.header {
	text-align: left;
	background-color: #8ecfe8;
	padding-top: 18px;
	padding-bottom: 15px;
	font-size: 3em;
	font-family: Futura, �Trebuchet MS�, Arial, sans-serif;
}

p.center {
	text-align: center;
}

/* Menu */

div#menu {
	width: 100%;
	clear: both;
}

ul#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul#menu li {
	float: left;
	border-right: 1px solid #aaa;
}

ul#menu li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul#menu li a:hover {
	background-color: #111;
}

ul#menu li.floatRight {
	border-left: 1px solid #aaa;
	border-right: none;
	float: right;
}

div.header-account-box {
	float: right;
	width:50%; 
	overflow: hidden;
}

/* Body */

#body {
	background-color: #dbdbdb;
	width: 85%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
}

a.buyButton {
	text-decoration: none;
	background-color: #8ecfe8;
	padding: 8px 10px;
	margin: 8px 10px;
	margin-top: 20px;
	border: 1px solid #aaa;
	box-shadow: 2px 2px 1px #555555;
}

a.item-link:link {color: black;}
a.item-link:visited {color: black;}
a.item-link:hover {color: #555;}
a.item-link:active {color: #888;}

a.item-link {text-decoration: none;} /* Remove Underline */

table.sale-report {
	border-collapse: collapse;
	border: 1px solid black;
}

table.sale-report th, table.sale-report td {
	border: 1px solid black;
	padding: 3px;
}

table.telemarketer-report {
	border-collapse: collapse;
	border: 1px solid black;
	background-color: #f0f0f0;
}

table.telemarketer-report th, table.telemarketer-report td {
	border: 1px solid black;
	padding: 3px;
}

table.telemarketer-report tr:nth-child(even) {
	background-color: #dadada;
}

/* forms */

table{
	margin-left: auto;
    margin-right: auto;
}

table td:nth-child(2){
	width: 60%;
}

input[type="text"], input[type="password"]{
    border-radius: 3px;
    border: 1px;
    padding: 5px;
    width: 80%; 
}

td span{
	padding: 10px;
}

input[type="submit"]{
	margin: 0 auto;
	background-color: #067DAB;
    border-radius: 3px;
    border: 1px;
    color: white;
    padding: 5px;
    text-align: center;
}

input[type="submit"]:hover{
	background-color: white;
    color: #067DAB;
}

/* Footer */

iframe.share-button {
	width: 86px;
	height: 20px;
	border: none;
	overflow: hidden;
	padding: 2px;
	frameborder: 0px;
	float: left;
	margin-top: 3px;
	margin-left: 5px;
	z-index: 2;
}

.wrapper {
	min-height: 100%;
	
	margin-bottom: -42px;
}

.push {
	height: 35px;
}

div#footer {
	height: 35px;
	clear: both;
	text-align: center;
	z-index: 1;
}

p.footer {
	background-color: #8ecfe8;
	text-align: center;
	width: 100%;
	font-size: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 1;
}