<!-- Header -->

div.header-main-box {
	width:100%; 
	overflow: hidden;
	background-color: yellow;
}

h1.header {
	text-align: center;
	background-color: 30499b;
}

div.header-menu-box {
	float: left;
	width:50%; 
	overflow: hidden;
}

div.header-account-box {
	float: right;
	width:50%; 
	overflow: hidden;
}

<!-- Footer -->

p.footer {
	text-align: center;
}