<!-- Header -->

header {
	width:100%; 
	overflow: hidden;
	background-color: #30499b;
}

h1.header {
	text-align: center;
	/*background-color: #30499b;*/
}

ul#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul#menu li {
	float: left;
}

ul#menu li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul#menu li a:hover {
	background-color: #111;
}

div.header-account-box {
	float: right;
	width:50%; 
	overflow: hidden;
}

<!-- Footer -->

p.footer {
	text-align: center;
}